<div class="container">
    
  <h1>
    Displaying all the records
  </h1>
  
  <table class="table table-striped">
      <thead>
          <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Completed</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of results" >
          <td>{{ item.userId }}</td>
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>{{ item.completed }}</td>
        </tr>
      </tbody>
    </table>
  
  </div>